<html>
<head>
<title>TestNG:  Regression Test</title>
<link href="../testng.css" rel="stylesheet" type="text/css" />
<link href="../my-testng.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.log { display: none;} 
.stack-trace { display: none;} 
</style>
<script type="text/javascript">
<!--
function flip(e) {
  current = e.style.display;
  if (current == 'block') {
    e.style.display = 'none';
    return 0;
  }
  else {
    e.style.display = 'block';
    return 1;
  }
}

function toggleBox(szDivId, elem, msg1, msg2)
{
  var res = -1;  if (document.getElementById) {
    res = flip(document.getElementById(szDivId));
  }
  else if (document.all) {
    // this is the way old msie versions work
    res = flip(document.all[szDivId]);
  }
  if(elem) {
    if(res == 0) elem.innerHTML = msg1; else elem.innerHTML = msg2;
  }

}

function toggleAllBoxes() {
  if (document.getElementsByTagName) {
    d = document.getElementsByTagName('div');
    for (i = 0; i < d.length; i++) {
      if (d[i].className == 'log') {
        flip(d[i]);
      }
    }
  }
}

// -->
</script>

</head>
<body>
<h2 align='center'>Regression Test</h2><table border='1' align="center">
<tr>
<td>Tests passed/Failed/Skipped:</td><td>5/0/0</td>
</tr><tr>
<td>Started on:</td><td>Mon Dec 12 15:40:28 GMT 2022</td>
</tr>
<tr><td>Total time:</td><td>56 seconds (56565 ms)</td>
</tr><tr>
<td>Included groups:</td><td>regression </td>
</tr><tr>
<td>Excluded groups:</td><td></td>
</tr>
</table><p/>
<small><i>(Hover the method name to see the test class name)</i></small><p/>
<table width='100%' border='1' class='invocation-passed'>
<tr><td colspan='4' align='center'><b>PASSED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='com.bank.testsuite.BankTest.customerShouldWithdrawMoneySuccessful()'><b>customerShouldWithdrawMoneySuccessful</b><br>Test class: com.bank.testsuite.BankTest<br/>
<a href="#Output-1171672359" onClick='toggleBox("Output-1171672359", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-1171672359" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-1171672359">
clickCustomerLoginLink[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //button[@class='btn btn-primary btn-lg']]<br/>
clickOnYourNameList[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //select[@id='userSelect']]<br/>
clickOnLogin[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //button[contains(text(),'Login')]]<br/>
clickOnDeposit[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //button[@ng-click = 'deposit()']]<br/>
enterAmount1001000[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]<br/>
clickOnDepositButton[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]<br/>
clickOnWithdrawButton[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[3]/button[3]]<br/>
enterAmount500[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]<br/>
clickOnWithdraw[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]<br/>
Click to see screenshot<br/>
<a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldWithdrawMoneySuccessfulMon_Dec_12_15_41_24_GMT_2022.jpg>Screenshot</a><br/>
<br><br/>
Click to see screenshot<br/>
<a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldWithdrawMoneySuccessfulMon_Dec_12_15_41_24_GMT_2022.jpg>Screenshot</a><br/>
<br><br/>
</div>
</td>
<td></td>
<td>1</td>
<td>com.bank.testsuite.BankTest@706a04ae</td></tr>
<tr>
<td title='com.bank.testsuite.BankTest.customerShouldDepositMoneySuccessfully()'><b>customerShouldDepositMoneySuccessfully</b><br>Test class: com.bank.testsuite.BankTest<br/>
<a href="#Output-1249337777" onClick='toggleBox("Output-1249337777", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-1249337777" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-1249337777">
clickCustomerLoginLink[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //button[@class='btn btn-primary btn-lg']]<br/>
clickOnYourNameList[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //select[@id='userSelect']]<br/>
clickOnLogin[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //button[contains(text(),'Login')]]<br/>
clickOnDeposit[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //button[@ng-click = 'deposit()']]<br/>
enterAmount1001000[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]<br/>
clickOnDepositButton[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]<br/>
verifyMessageDepositSuccessfully[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //span[contains(text(),'Deposit Successful')]]<br/>
verifyMessageDepositSuccessfully[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //span[contains(text(),'Deposit Successful')]]<br/>
Click to see screenshot<br/>
<a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldDepositMoneySuccessfullyMon_Dec_12_15_41_05_GMT_2022.jpg>Screenshot</a><br/>
<br><br/>
Click to see screenshot<br/>
<a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldDepositMoneySuccessfullyMon_Dec_12_15_41_05_GMT_2022.jpg>Screenshot</a><br/>
<br><br/>
</div>
</td>
<td></td>
<td>12</td>
<td>com.bank.testsuite.BankTest@706a04ae</td></tr>
<tr>
<td title='com.bank.testsuite.BankTest.BankManagerShouldAddCustomerSuccessfully()'><b>BankManagerShouldAddCustomerSuccessfully</b><br>Test class: com.bank.testsuite.BankTest<br/>
<a href="#Output-1552179791" onClick='toggleBox("Output-1552179791", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-1552179791" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-1552179791">
clickOnBankManagerLoginTab[[ChromeDriver: chrome on WINDOWS (1fa4e3375f425c0fb253b8789e80bbab)] -> xpath: //button[@ng-click='manager()']]<br/>
clickOnAddCustomerTab[[ChromeDriver: chrome on WINDOWS (1fa4e3375f425c0fb253b8789e80bbab)] -> xpath: //button[@ng-class = 'btnClass1']]<br/>
sendTextToFirstNameManan[[ChromeDriver: chrome on WINDOWS (1fa4e3375f425c0fb253b8789e80bbab)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[1]/input[1]]<br/>
sendTextToLastNameShah[[ChromeDriver: chrome on WINDOWS (1fa4e3375f425c0fb253b8789e80bbab)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[2]/input[1]]<br/>
sendTextToPostCodeHA8 9LA[[ChromeDriver: chrome on WINDOWS (1fa4e3375f425c0fb253b8789e80bbab)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[3]/input[1]]<br/>
Click to see screenshot<br/>
<a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/BankManagerShouldAddCustomerSuccessfullyMon_Dec_12_15_40_40_GMT_2022.jpg>Screenshot</a><br/>
<br><br/>
Click to see screenshot<br/>
<a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/BankManagerShouldAddCustomerSuccessfullyMon_Dec_12_15_40_40_GMT_2022.jpg>Screenshot</a><br/>
<br><br/>
</div>
</td>
<td></td>
<td>1</td>
<td>com.bank.testsuite.BankTest@706a04ae</td></tr>
<tr>
<td title='com.bank.testsuite.BankTest.bankManagerShouldOpenAccountSuccessfully()'><b>bankManagerShouldOpenAccountSuccessfully</b><br>Test class: com.bank.testsuite.BankTest<br/>
<a href="#Output-2128195220" onClick='toggleBox("Output-2128195220", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-2128195220" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-2128195220">
clickOnBankManagerLoginTab[[ChromeDriver: chrome on WINDOWS (46a86f69835842d0706b08e2d3b8c88b)] -> xpath: //button[@ng-click='manager()']]<br/>
clickOnOpenAccountLink[[ChromeDriver: chrome on WINDOWS (46a86f69835842d0706b08e2d3b8c88b)] -> xpath: //button[@ng-click ='openAccount()']]<br/>
customerNameList[[ChromeDriver: chrome on WINDOWS (46a86f69835842d0706b08e2d3b8c88b)] -> xpath: //select[@id='userSelect']]<br/>
currencyList[[ChromeDriver: chrome on WINDOWS (46a86f69835842d0706b08e2d3b8c88b)] -> xpath: //select[@id='currency']]<br/>
Click to see screenshot<br/>
<a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/bankManagerShouldOpenAccountSuccessfullyMon_Dec_12_15_40_49_GMT_2022.jpg>Screenshot</a><br/>
<br><br/>
Click to see screenshot<br/>
<a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/bankManagerShouldOpenAccountSuccessfullyMon_Dec_12_15_40_50_GMT_2022.jpg>Screenshot</a><br/>
<br><br/>
</div>
</td>
<td></td>
<td>6</td>
<td>com.bank.testsuite.BankTest@706a04ae</td></tr>
<tr>
<td title='com.bank.testsuite.BankTest.customerShouldLoginAndLogoutSuccessfully()'><b>customerShouldLoginAndLogoutSuccessfully</b><br>Test class: com.bank.testsuite.BankTest<br/>
<a href="#Output-727119352" onClick='toggleBox("Output-727119352", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-727119352" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-727119352">
clickCustomerLoginLink[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //button[@class='btn btn-primary btn-lg']]<br/>
clickOnYourNameList[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //select[@id='userSelect']]<br/>
clickOnLogin[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //button[contains(text(),'Login')]]<br/>
verifyLogoutButtonDisplayed[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //button[contains(text(),'Logout')]]<br/>
verifyWelcomeMessage[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //body[1]/div[3]/div[1]/div[2]/div[1]/div[1]/strong[1]]<br/>
verifyWelcomeMessage[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //body[1]/div[3]/div[1]/div[2]/div[1]/div[1]/strong[1]]<br/>
clickOnLogout[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //button[contains(text(),'Logout')]]<br/>
Click to see screenshot<br/>
<a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldLoginAndLogoutSuccessfullyMon_Dec_12_15_41_18_GMT_2022.jpg>Screenshot</a><br/>
<br><br/>
Click to see screenshot<br/>
<a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldLoginAndLogoutSuccessfullyMon_Dec_12_15_41_18_GMT_2022.jpg>Screenshot</a><br/>
<br><br/>
</div>
</td>
<td></td>
<td>3</td>
<td>com.bank.testsuite.BankTest@706a04ae</td></tr>
</table><p>
</body>
</html>