<h2>Reporter output</h2><table><tr><td>clickOnBankManagerLoginTab[[ChromeDriver: chrome on WINDOWS (5a577e1ae4d64a637e33f4cdf311aa9f)] -> xpath: //button[@ng-click='manager()']]</td></tr>
<tr><td>clickOnAddCustomerTab[[ChromeDriver: chrome on WINDOWS (5a577e1ae4d64a637e33f4cdf311aa9f)] -> xpath: //button[@ng-class = 'btnClass1']]</td></tr>
<tr><td>sendTextToFirstNameManan[[ChromeDriver: chrome on WINDOWS (5a577e1ae4d64a637e33f4cdf311aa9f)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>sendTextToLastNameShah[[ChromeDriver: chrome on WINDOWS (5a577e1ae4d64a637e33f4cdf311aa9f)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[2]/input[1]]</td></tr>
<tr><td>sendTextToPostCodeHA8 9LA[[ChromeDriver: chrome on WINDOWS (5a577e1ae4d64a637e33f4cdf311aa9f)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[3]/input[1]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/BankManagerShouldAddCustomerSuccessfullyMon_Dec_12_16_06_53_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/BankManagerShouldAddCustomerSuccessfullyMon_Dec_12_16_06_53_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>clickOnBankManagerLoginTab[[ChromeDriver: chrome on WINDOWS (f1218294813424992aad5cc3a73cb7d3)] -> xpath: //button[@ng-click='manager()']]</td></tr>
<tr><td>clickOnOpenAccountLink[[ChromeDriver: chrome on WINDOWS (f1218294813424992aad5cc3a73cb7d3)] -> xpath: //button[@ng-click ='openAccount()']]</td></tr>
<tr><td>customerNameList[[ChromeDriver: chrome on WINDOWS (f1218294813424992aad5cc3a73cb7d3)] -> xpath: //select[@id='userSelect']]</td></tr>
<tr><td>currencyList[[ChromeDriver: chrome on WINDOWS (f1218294813424992aad5cc3a73cb7d3)] -> xpath: //select[@id='currency']]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/bankManagerShouldOpenAccountSuccessfullyMon_Dec_12_16_07_02_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/bankManagerShouldOpenAccountSuccessfullyMon_Dec_12_16_07_03_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>clickCustomerLoginLink[[ChromeDriver: chrome on WINDOWS (0dd1d0b325847842d9eea65e52f95541)] -> xpath: //button[@class='btn btn-primary btn-lg']]</td></tr>
<tr><td>clickOnYourNameList[[ChromeDriver: chrome on WINDOWS (0dd1d0b325847842d9eea65e52f95541)] -> xpath: //select[@id='userSelect']]</td></tr>
<tr><td>clickOnLogin[[ChromeDriver: chrome on WINDOWS (0dd1d0b325847842d9eea65e52f95541)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>clickOnDeposit[[ChromeDriver: chrome on WINDOWS (0dd1d0b325847842d9eea65e52f95541)] -> xpath: //button[@ng-click = 'deposit()']]</td></tr>
<tr><td>enterAmount1001000[[ChromeDriver: chrome on WINDOWS (0dd1d0b325847842d9eea65e52f95541)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>clickOnDepositButton[[ChromeDriver: chrome on WINDOWS (0dd1d0b325847842d9eea65e52f95541)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]</td></tr>
<tr><td>verifyMessageDepositSuccessfully[[ChromeDriver: chrome on WINDOWS (0dd1d0b325847842d9eea65e52f95541)] -> xpath: //span[contains(text(),'Deposit Successful')]]</td></tr>
<tr><td>verifyMessageDepositSuccessfully[[ChromeDriver: chrome on WINDOWS (0dd1d0b325847842d9eea65e52f95541)] -> xpath: //span[contains(text(),'Deposit Successful')]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldDepositMoneySuccessfullyMon_Dec_12_16_07_23_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldDepositMoneySuccessfullyMon_Dec_12_16_07_23_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>clickCustomerLoginLink[[ChromeDriver: chrome on WINDOWS (a5914ab1ac9f7f4cc571280046a403f7)] -> xpath: //button[@class='btn btn-primary btn-lg']]</td></tr>
<tr><td>clickOnYourNameList[[ChromeDriver: chrome on WINDOWS (a5914ab1ac9f7f4cc571280046a403f7)] -> xpath: //select[@id='userSelect']]</td></tr>
<tr><td>clickOnLogin[[ChromeDriver: chrome on WINDOWS (a5914ab1ac9f7f4cc571280046a403f7)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>verifyLogoutButtonDisplayed[[ChromeDriver: chrome on WINDOWS (a5914ab1ac9f7f4cc571280046a403f7)] -> xpath: //button[contains(text(),'Logout')]]</td></tr>
<tr><td>verifyWelcomeMessage[[ChromeDriver: chrome on WINDOWS (a5914ab1ac9f7f4cc571280046a403f7)] -> xpath: //body[1]/div[3]/div[1]/div[2]/div[1]/div[1]/strong[1]]</td></tr>
<tr><td>verifyWelcomeMessage[[ChromeDriver: chrome on WINDOWS (a5914ab1ac9f7f4cc571280046a403f7)] -> xpath: //body[1]/div[3]/div[1]/div[2]/div[1]/div[1]/strong[1]]</td></tr>
<tr><td>clickOnLogout[[ChromeDriver: chrome on WINDOWS (a5914ab1ac9f7f4cc571280046a403f7)] -> xpath: //button[contains(text(),'Logout')]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldLoginAndLogoutSuccessfullyMon_Dec_12_16_07_32_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldLoginAndLogoutSuccessfullyMon_Dec_12_16_07_32_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>clickCustomerLoginLink[[ChromeDriver: chrome on WINDOWS (dee42d708cbd8d0f0af3841dc2606c96)] -> xpath: //button[@class='btn btn-primary btn-lg']]</td></tr>
<tr><td>clickOnYourNameList[[ChromeDriver: chrome on WINDOWS (dee42d708cbd8d0f0af3841dc2606c96)] -> xpath: //select[@id='userSelect']]</td></tr>
<tr><td>clickOnLogin[[ChromeDriver: chrome on WINDOWS (dee42d708cbd8d0f0af3841dc2606c96)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>clickOnDeposit[[ChromeDriver: chrome on WINDOWS (dee42d708cbd8d0f0af3841dc2606c96)] -> xpath: //button[@ng-click = 'deposit()']]</td></tr>
<tr><td>enterAmount1001000[[ChromeDriver: chrome on WINDOWS (dee42d708cbd8d0f0af3841dc2606c96)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>clickOnDepositButton[[ChromeDriver: chrome on WINDOWS (dee42d708cbd8d0f0af3841dc2606c96)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]</td></tr>
<tr><td>clickOnWithdrawButton[[ChromeDriver: chrome on WINDOWS (dee42d708cbd8d0f0af3841dc2606c96)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[3]/button[3]]</td></tr>
<tr><td>enterAmount500[[ChromeDriver: chrome on WINDOWS (dee42d708cbd8d0f0af3841dc2606c96)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>clickOnWithdraw[[ChromeDriver: chrome on WINDOWS (dee42d708cbd8d0f0af3841dc2606c96)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldWithdrawMoneySuccessfulMon_Dec_12_16_07_38_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldWithdrawMoneySuccessfulMon_Dec_12_16_07_38_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
</table>