<h2>Reporter output</h2><table><tr><td>clickOnBankManagerLoginTab[[ChromeDriver: chrome on WINDOWS (1fa4e3375f425c0fb253b8789e80bbab)] -> xpath: //button[@ng-click='manager()']]</td></tr>
<tr><td>clickOnAddCustomerTab[[ChromeDriver: chrome on WINDOWS (1fa4e3375f425c0fb253b8789e80bbab)] -> xpath: //button[@ng-class = 'btnClass1']]</td></tr>
<tr><td>sendTextToFirstNameManan[[ChromeDriver: chrome on WINDOWS (1fa4e3375f425c0fb253b8789e80bbab)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>sendTextToLastNameShah[[ChromeDriver: chrome on WINDOWS (1fa4e3375f425c0fb253b8789e80bbab)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[2]/input[1]]</td></tr>
<tr><td>sendTextToPostCodeHA8 9LA[[ChromeDriver: chrome on WINDOWS (1fa4e3375f425c0fb253b8789e80bbab)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[3]/input[1]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/BankManagerShouldAddCustomerSuccessfullyMon_Dec_12_15_40_40_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/BankManagerShouldAddCustomerSuccessfullyMon_Dec_12_15_40_40_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>clickOnBankManagerLoginTab[[ChromeDriver: chrome on WINDOWS (46a86f69835842d0706b08e2d3b8c88b)] -> xpath: //button[@ng-click='manager()']]</td></tr>
<tr><td>clickOnOpenAccountLink[[ChromeDriver: chrome on WINDOWS (46a86f69835842d0706b08e2d3b8c88b)] -> xpath: //button[@ng-click ='openAccount()']]</td></tr>
<tr><td>customerNameList[[ChromeDriver: chrome on WINDOWS (46a86f69835842d0706b08e2d3b8c88b)] -> xpath: //select[@id='userSelect']]</td></tr>
<tr><td>currencyList[[ChromeDriver: chrome on WINDOWS (46a86f69835842d0706b08e2d3b8c88b)] -> xpath: //select[@id='currency']]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/bankManagerShouldOpenAccountSuccessfullyMon_Dec_12_15_40_49_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/bankManagerShouldOpenAccountSuccessfullyMon_Dec_12_15_40_50_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>clickCustomerLoginLink[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //button[@class='btn btn-primary btn-lg']]</td></tr>
<tr><td>clickOnYourNameList[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //select[@id='userSelect']]</td></tr>
<tr><td>clickOnLogin[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>clickOnDeposit[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //button[@ng-click = 'deposit()']]</td></tr>
<tr><td>enterAmount1001000[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>clickOnDepositButton[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]</td></tr>
<tr><td>verifyMessageDepositSuccessfully[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //span[contains(text(),'Deposit Successful')]]</td></tr>
<tr><td>verifyMessageDepositSuccessfully[[ChromeDriver: chrome on WINDOWS (e3719b14a1c3f1d72c17c8479a6a3108)] -> xpath: //span[contains(text(),'Deposit Successful')]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldDepositMoneySuccessfullyMon_Dec_12_15_41_05_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldDepositMoneySuccessfullyMon_Dec_12_15_41_05_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>clickCustomerLoginLink[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //button[@class='btn btn-primary btn-lg']]</td></tr>
<tr><td>clickOnYourNameList[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //select[@id='userSelect']]</td></tr>
<tr><td>clickOnLogin[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>verifyLogoutButtonDisplayed[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //button[contains(text(),'Logout')]]</td></tr>
<tr><td>verifyWelcomeMessage[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //body[1]/div[3]/div[1]/div[2]/div[1]/div[1]/strong[1]]</td></tr>
<tr><td>verifyWelcomeMessage[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //body[1]/div[3]/div[1]/div[2]/div[1]/div[1]/strong[1]]</td></tr>
<tr><td>clickOnLogout[[ChromeDriver: chrome on WINDOWS (16e7b88f1d250019a040965ca18eff2a)] -> xpath: //button[contains(text(),'Logout')]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldLoginAndLogoutSuccessfullyMon_Dec_12_15_41_18_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldLoginAndLogoutSuccessfullyMon_Dec_12_15_41_18_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>clickCustomerLoginLink[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //button[@class='btn btn-primary btn-lg']]</td></tr>
<tr><td>clickOnYourNameList[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //select[@id='userSelect']]</td></tr>
<tr><td>clickOnLogin[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>clickOnDeposit[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //button[@ng-click = 'deposit()']]</td></tr>
<tr><td>enterAmount1001000[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>clickOnDepositButton[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]</td></tr>
<tr><td>clickOnWithdrawButton[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[3]/button[3]]</td></tr>
<tr><td>enterAmount500[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>clickOnWithdraw[[ChromeDriver: chrome on WINDOWS (455d58dca18315eabc4a8eac4b80f4e3)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldWithdrawMoneySuccessfulMon_Dec_12_15_41_24_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\viren\IdeaProjects\xyz-bank-wk-15-virenpatel/test-output/html/customerShouldWithdrawMoneySuccessfulMon_Dec_12_15_41_24_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
</table>